header {
    background-image: url("https://wallpaperaccess.com/full/4747474.jpg");
    background-position: center center;
    background-size: cover;
    }

    #hero-text {
    color: rgb(31, 129, 80) !important;
    font-size: 72px;
    text-shadow:2px 2px 5px black;
}

header p{
 color: white;
 font-size: 24px;
 font-weight: 500 !important;
 text-shadow: 1px 1px 2px black
}

header .btn{
    background-color: black;
    border-color: rgb(31, 129, 80);
    color: white;

}
header .btn:hover {
    background-color: rgb(80, 80, 80);
    border-color: rgb(31, 129, 80);
    color: white;
}